* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.clear {
    clear: left;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(background.jpg);
    background-size: cover;
    color: #FFC312;
    text-align: center;
}

.top-wrapper h1 {
    font-size: 65px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

.top-wrapper h2 {
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    margin-bottom: 3px;
}

.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.header {
    height: 65px;
    width: 100%;
    background-color: rgba(245, 223, 99, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}


.header-logo {
    margin-top: 10px;
    width: 124px;
    float: left;
    font-size: 36px;
}

.header-logo a {
    float: left;
    font-size: 36px;
    color: black;
}

.header-left {
    float: left;
    text-align: center;
}

.header-left li {
    float: left;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.header-left li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


.header-right {
    float: right;
    margin-right: 25px;
    display: block;
}

.header-right a {
    line-height: 45px;
    padding: 10px;
    color: rgb(0, 192, 26);
    float: left;
    transition: all 0.5s;
}

.header-right p {
    padding-top: 8px;
    color: rgb(0, 0, 0);
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
    color: rgb(0, 0, 0);
    float: left;
    display: none;
    margin-top: 10px;
    width: 124px;
    float: left;
    font-size: 36px;
}

.fa {
    margin-right: 5px;
}

.btn-wrapper {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(252, 245, 157);
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px rgb(30, 104, 20);
}

.btn-wrapper:hover {
    background-color: #3e8e41
}

.btn-wrapper:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

li a,
.dropbtn {
    display: inline-block;
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f7f6e0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 85%;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
